@font-family

body{
  border-color: blue;
}
  header{
  height: 10vh;
  background-color:#084561;
  color: white;
}

.lettre{
    border:2px solid black;
    font-size:25px;
    width:750px;
    height:1400px;
    left:18%;
    font-family: 'Sevillana', cursive;
    margin:50PX auto;
   padding:0 10px ;
 }     

.date{
	text-align:right;
} 

.info{
	text-align:right;

}

.objet{
   text-align:left;
} 

.nom{
  padding-left: 0
  margin-left:0;
  
}

.fin{
    text-align:right;
    
}

.time{
    
    position:relative;
    top: -170px;
    right: -480px;
    
}

.PD{
    text-align: justify;
    text-indent: 30PX;

    }
    ul{
   list-style-type: none;
   margin:0px;
   padding:0;
}

li{
  float:left;
  margin-left:40px;
  margin-top:20px 
}

ul li a {
  
  float: left;
  width:150px;
  background-color:#e8b912;
  color: white;
  text-decoration: none;
  text-align: center;
  padding:5px;
  border: 2px solid;
  overflow:hidden;
  display: block;
} 
ul li a:hover {
  background-color:blue;

  }



    






















































































